streamlit
langchain
langchain-community
langchain-google-genai
chromadb
sentence-transformers
pypdf
pandas
networkx
plotly
python-dotenv
google-generativeai
python-docx
langchain-text-splitters
docx2txt
langchain-chroma